<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <div class="card" id="form-pergunta">
            <div class="card-header">
                <h1>Faça a sua pergunta</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <br>
                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                    <label>Descrição</label>
                    <br>
                    <textarea placeholder="Descreva a sua pergunta" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>        
    </div>
</body>
<%- include('./partials/footer.ejs')%>