<h3>Endereço</h3>
<div class="col-9">
  <label for="inputAddress" class="form-label">Rua</label>
  <input type="text" class="form-control" id="inputAddress" name="street">
</div>
<div class="col-md-3">
  <label for="inputNum" class="form-label">Número</label>
  <input type="text" class="form-control" id="inputNum" name="streetNumber">
</div>
<div class="col-12">
  <label for="inputAddress2" class="form-label">Bairro</label>
  <input type="text" class="form-control" id="inputAddress2" name="neighborhood">
</div>
<div class="col-md-8">
  <label for="inputCity" class="form-label">Cidade</label>
  <input type="text" class="form-control" id="inputCity" name="city">
</div>
<div class="col-md-4">
  <label for="inputEstate" class="form-label">Estado</label>
  <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" name="state" id="selectState">
    <option selected>Selecione</option>
    <option value="AC">AC</option>
    <option value="AL">AL</option>
    <option value="AP">AP</option>
    <option value="AM">AM</option>
    <option value="BA">BA</option>
    <option value="CE">CE</option>
    <option value="DF">DF</option>
    <option value="ES">ES</option>
    <option value="GO">GO</option>
    <option value="MA">MA</option>
    <option value="MT">MT</option>
    <option value="MS">MS</option>
    <option value="MG">MG</option>
    <option value="PA">PA</option>
    <option value="PB">PB</option>
    <option value="PR">PR</option>
    <option value="PE">PE</option>
    <option value="PI">PI</option>
    <option value="RJ">RJ</option>
    <option value="RN">RN</option>
    <option value="RS">RS</option>
    <option value="RO">RO</option>
    <option value="RR">RR</option>
    <option value="SC">SC</option>
    <option value="SP">SP</option>
    <option value="SE">SE</option>
    <option value="TO">TO</option>
  </select>
</div>